{% extends "layout.html" %}
{% block stylesheet %}
<link rel="stylesheet" href="static/css/account.css">
{% endblock %}

{% block body %}
<div id="encapsulation">
    <section id="accountMain">
        <h1>Account</h1>
        <p>Configure Your Account.</p>
        <section>
            <form action="/account" method="POST">
                <input class="form-control" type="text" name="username" placeholder="New username." aria-label="Username" autocomplete="off">
                <input class="form-control" type="password" name="password" placeholder="New password" aria-label="Confirmation" autocomplete="off">
                <input class="form-control" type="password" name="confirmation" placeholder="Re-type password." aria-label="Confirmation" autocomplete="off">
                <button type="submit" type="submit" class="btn btn-primary">Configure</button>
            </form>
        </section>
    </section>
</div>

<section id="warnUser" class="warnHidden">
  <div class="alert alert-danger">
    <section>
      <strong>WARNING!</strong> Enter <b>"I agree."</b> to continue.
    </section>
    <input type="text" name="agree" placeholder="Enter I agree." aria-label="Agreement" autocomplete="off">
    <section>
      <button class="btn btn-danger" name="no" value="true">Do not configure &#128524;&#9995;</button>
      <button  class="btn btn-success" name="yes" value="true">Configure &#128522;</button>
    </section>
  </div>
</section>

<section id="info" class="warnHidden">
  <div class="alert alert-danger">
    <!--info of the header-->
    <section id="infoHeader">
      <strong>Information!</strong>
      <p></p>
    </section>
  </div>
</section>

<script src="static/js/account.js"></script>
{% endblock %}