{% extends "layout.html" %}
{% block stylesheet %}
<link rel="stylesheet" href="static/css/home.css">
{% endblock %}
{% block body %}
    <main>
        <aside>
            <h1>EANO</h1>
            <p>Easy to use note/todo application</p>
        </aside>
    </main>
    <div class="square" style="visibility: hidden">
        <h4>Doug Lloyd</h4>
    </div>
    <div class="square">
       <h4>Brian Yu</h4>
    </div>
    <div class="square">
        <h4>Doug Lloyd</h4>
    </div>

    <section id="about">
        <div class="square">
            <h4>David Malan</h4>
        </div>
        <h2>~/root/About the creator$ <span class="blink">_</span></h2>
        <section id="aboutWhole">
            <img src="static/images/me.jpg" alt="">
            <section id="facts">
                <h3>Mario Molinito</h3>
                <ul>
                    <li>Faster</li>
                    <li>Stronger</li>
                    <li>Dumber</li>
                </ul>
            </section>
        </section>
        <div class="square" id="second"></div>
    </section>

    <section id="techno">
        <h2>~/root/Technologies$ <span class="blink">_</span></h2>
        <section id="list">
            <section>
                <img src="static/images/flask.png" alt="Flask Image">
                <p>Flask</p>
            </section>
            <section>
                <img src="static/images/html.png" alt="HTML Image">
                <p>HTML</p>
            </section>
            <section>
                <img src="static/images/css.png" alt="CSS Image">
                <p>CSS</p>
            </section>
            <section>
                <img src="static/images/sql.png" alt="SQL Image">
                <p>SQL</p>
            </section>
            <section>
                <img src="static/images/javascript.png" alt="Javascript Image">
                <p>JavaScript</p>
            </section>
            <section>
                <img src="static/images/python.png" alt="Python Image">
                <p>Python</p>
            </section>
        </section>
    </section>

    <div id="contactSquare" class="square"></div>
    <section id="contact">
        <div id="contactEncap">
            <section>
                <h2>Contact</h2>
            </section>
            <form action="#">
                <section class="input" id="name">
                    <h3>~/root/contact/Name$</h3>
                    <span type="input" role="textbox" contenteditable></span>
                    <span class="blink" name="blinker">_</span>
                </section>
                <section class="input" id="name">
                    <h3>~/root/contact/Message$</h3>
                    <span type="input" role="textbox" contenteditable></span>
                    <span class="" name="blinker">_</span>
                </section>
                <section class="input" id="email">
                    <h3>~/root/contact/Email$</h3>
                    <span type="input" role="textbox" contenteditable></span>
                    <span class="" name="blinker">_</span>
                </section>
                <button>Send</button>
            </form>
        </div>
    </section>
    <script src="static/js/index.js"></script>
{% endblock %}